@model AuctionWebsite.ViewModels.AuctionDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dd class="col-sm-10">
            @Html.ActionLink("Edit description", "Edit",  new { id = Model.Id}) |  @Html.ActionLink("Bid", "CreateBid",  new { id = Model.Id})
        </dd>


    </dl>
</div>

<div>

<br />
</div>
    <h4> Bids</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.BidsVM)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => i.UserName) </td>
                <td> @Html.DisplayFor(modelItem => i.Date) </td>
                <td> @Html.DisplayFor(modelItem => i.Amount) </td>
            </tr>
        }
        </tbody>
    </table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
